Source: canaima-escritorio-base
Section: misc
Priority: optional
Maintainer: Equipo de Desarrollo de Canaima GNU/Linux <desarrolladores@canaima.softwarelibre.gob.ve>
Uploaders: Luis Alejandro Martínez Faneyth <martinez.faneyth@gmail.com>
Build-Depends: debhelper (>= 7.0.50~), cdbs
Standards-Version: 3.9.1
Homepage: http://canaima.softwarelibre.gob.ve/
Vcs-Git: git://gitorious.org/canaima-gnu-linux/canaima-escritorio-base.git
Vcs-Browser: http://gitorious.org/canaima-gnu-linux/canaima-escritorio-base/trees/master

Package: canaima-escritorio-base
Architecture: all
Depends:	desktop-base (>= 6.0.5+canaima9),
		xorg,
		xinit,
		xserver-xorg-core,
		xserver-xorg-video-all,
		xserver-xorg-input-all,
		cups,
		openssh-client,
		alsa-utils,
		alsa-base,
		dosfstools,
		ntfsprogs,
		mtools,
		ntfsprogs,
		dialog,
		mesa-utils,
		acpi,
		acpi-support,
		hibernate,
		${shlibs:Depends},
		${misc:Depends}
Pre-Depends: canaima-base (>= 3.1)
Recommends: canaima-escritorio-gnome | canaima-escritorio-lxde | canaima-escritorio-xfce | canaima-escritorio-kde
Description: Metapaquete de aplicaciones comunes a los escritorios en Canaima
 Este metapaquete agrupa las aplicaciones que son comunes a todos los
 escritorios soportados por la Metadistribucion Canaima GNU/Linux.

