Source: canaima-escritorio-base
Section: misc
Priority: optional
Maintainer: Luis Alejandro Martínez Faneyth <luis@huntingbears.com.ve>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.3
Homepage: http://canaima.softwarelibre.gob.ve/
Vcs-Git: git://gitorious.org/canaima-gnu-linux/canaima-escritorio-base.git
Vcs-Browser: http://gitorious.org/canaima-gnu-linux/canaima-escritorio-base/trees/master

Package: canaima-escritorio-base
Architecture: all
Depends:	desktop-base (>= 7.0.3Canaima1),
		canaima-base (>= 4.0),
		xorg,
		xinit,
		xserver-xorg-core,
		xserver-xorg-video-all,
		xserver-xorg-input-all,
		cups,
		cups-pk-helper (>= 0.2),
		openssh-client,
		pulseaudio,
		dosfstools,
		ntfsprogs,
		mtools,
		ntfsprogs,
		ntfs-3g,
		hdparm,
		dialog,
		mesa-utils,
		acpi,
		acpi-support,
		hibernate,
		${shlibs:Depends},
		${misc:Depends}
Suggests: canaima-escritorio-gnome | canaima-escritorio-lxde | canaima-escritorio-xfce | canaima-escritorio-kde
Description: Metapaquete de aplicaciones comunes a los escritorios en Canaima
 Este metapaquete agrupa las aplicaciones que son comunes a todos los
 escritorios soportados por la Metadistribucion Canaima GNU/Linux.
 .
